{{- with resources.Get "js/main.js" -}}
{{- if eq hugo.Environment "development" }}
  {{- with . | js.Build }}
    <script src="{{ .RelPermalink }}"></script>
  {{- end }}
{{- else }}
  {{- $opts := dict "minify" true }}
  {{- with . | js.Build $opts | fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}" crossorigin="anonymous"></script>
  {{- end }}
{{- end }}
{{- end }}



