{{ define "main" }}

<!-- main content area -->
<div class="relative mx-auto flex w-full max-w-8xl flex-auto justify-center sm:px-3 md:px-4 md:pr-6">

  <!-- New container for sidebar + main content + footer -->
  <div class="flex w-full">

    <!-- right content + footer inside main -->
    <main class="min-w-0 flex-1 flex flex-col px-4 py-8 lg:pl-8 lg:pr-0 xl:px-12">
      <article class="mb-12 flex-1">
        <div class="
          prose max-w-none dark:prose-dark   
          prose-headings:text-slate-light-800
          prose-headings:font-semibold dark:prose-headings:text-light-dark-100
          prose-headings:scroll-mt-28 lg:prose-headings:scroll-mt-[8.5rem] lg:prose-headings:scroll-mb-[2.5rem]
          prose-lead:text-slate-light-600 prose-lead:font-display prose-lead:font-medium dark:prose-lead:text-slate-dark-100
          prose-pre:rounded-xl prose-pre:bg-slate-light-800 prose-pre:shadow-lg
          dark:prose-pre:bg-slate-dark-600 dark:prose-pre:shadow-none
          dark:prose-pre:ring-1 dark:prose-pre:ring-slate-dark-500
        ">
          <!-- show page content -->
          {{ .Content }}

        </div>
      </article>

      <!-- Footer at the end of main -->
      <div class="w-full space-y-10">
        {{- partial "footer.html" . -}}
      </div>

    </main>
    <!-- /right content -->

    <!-- not sure why, but you could put the TOC here -->
    
  </div>
  <!-- /New container -->

</div>
<!-- /main content area -->
  
{{ end }}