<footer class="">
  <!-- Footer content -->
  <div class="
    flex flex-col items-center justify-between
    gap-5 py-6 mt-8 sm:flex-row
    border-t border-slate-light-200 dark:border-slate-dark-500
    text-slate-light-700 dark:text-slate-dark-200
    ">

    <p class="text-sm">&copy; 2019 - {{ now.Year }} Hugo-Tailwind</p>
      
    <div class="flex gap-4">
      
      <p class="text-sm">
        Footer
      </p>

    </div>
  </div>
</footer>