  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Set Title based on current page -->
  <title>
      {{- if .IsHome -}}
          {{ site.Title }} | {{ site.Params.Description }}
      {{- else -}}
          {{ .Title }} | {{ site.Title }}
      {{- end -}}
  </title>

  <meta name="description" content="
    {{- with .Page.Description -}}
        {{ . }}
    {{- else -}}
        {{ site.Params.description }}
    {{- end -}}
  ">
  <meta http-equiv="content-language" content="en-us">
  <meta name="keywords" content="{{ .Keywords }}">

  {{- partial "head/css.html" . -}}

  {{- partial "head/js.html" . -}}