<!-- Navbar -->
    <header class="
      sticky top-0 z-40 flex flex-none flex-wrap items-center justify-between
      backdrop-blur-md bg-white-light px-4 py-5
      sm:px-6 lg:px-8 dark:shadow-none
      lg:z-50 border-b border-slate-light-200 dark:dark:border-slate-dark-500
      bg-white-light/70 supports-backdrop-blur:bg-white-light/60
      dark:bg-black-dark/40 dark:supports-backdrop-blur:bg-black-dark/60
    ">
      <!-- logo -->
      <div class="relative flex flex-grow basis-0 items-center">
        Hugo-Tailwind
      </div>

    </header>