@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

  .alert {
    h1, h2, h3, h4, h5, h6 {
      @apply mt-2 mb-3;
      font-weight: 600;
    }
    p {
      @apply m-0 pb-2;
    }
    a{
     @apply text-blue-light-500 dark:text-blue-dark-400; 
    }
  }
  .alert-content a {
    @apply text-green-light-500 dark:text-blue-dark-400; 

  }

  .menu-icon {
      transition: transform 0.3s ease; /* Smooth transition for rotation */
  }

  .h-copy {
    @apply text-slate-light-500 dark:text-slate-dark-100 ml-2;
  }

  .image img {
    @apply rounded-xl
  }

  .card-basic {
    h1, h2, h3, h4, h5, h6 {
      @apply mt-2 mb-4;
    }
    img {
      @apply rounded-lg py-0 my-0;
    }
    p {
      @apply mb-0
    }
  }
  /*
    Table of Contents Styles
    These are required, since Hugo's auto generate
    TOC does not allow you to format output or add
    Tailwind styles directly.
  */
  #toc-list ul {
    @apply my-1 text-xs text-slate-light-600 dark:text-light-dark-300;
  }
  #toc-list > #TableOfContents > ul {
    @apply border-l border-slate-light-200 dark:border-slate-dark-600;
  }
  #toc-list a {
    @apply justify-between py-[3px] pr-3 text-sm pl-4 truncate;
  }
  #toc-list ul ul {}
  #toc-list ul ul li {}
  #toc-list li > a::before {}
  #toc-list li > a {
    @apply block pl-4 pr-4 rounded-none truncate;
  }
  #toc-list li a.active {
    @apply truncate block border-l border-blue-light-500 dark:border-blue-dark-400 py-[3px] pr-3 pl-3.5 dark:text-light-dark-100 font-medium;
  }
  #toc-list li > a > code {
    @apply text-xs;
  }

  .code-block-container pre {
    background: transparent !important;
  }

  .show-more-btn {
      cursor: pointer;
  }

  /* Prose is impossible sometimes */
  #toc-mini-nav ul {
    @apply my-0;
  }
  #toc-mini-nav ul > li {
    @apply m-0 p-0;
  }
  #toc-mini-nav ul ul {
    @apply px-0 pl-6;
  }

  .move-on-hover:hover svg {
    transform: translateX(0.4rem);
  }