<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="h-full">

<head>
  {{- partial "head.html" . -}}
</head>

<body class="flex min-h-full bg-white-light dark:bg-black-dark transition-color duration-200 ease-in-out {{ if .Params.enableAnchors }}enable-anchors{{ end }}">

  <div class="flex w-full flex-col">

    <!-- Navbar -->
    {{- partial "navbar.html" -}}
    
    <!-- all other layouts will be rendered here -->
    <!-- the sidebar & footer are called from other layouts -->
    {{ block "main" . }}{{ end }}

  </div><!-- /flex w-full -->
  
</body>
</html>