{{ define "main" }}

<!-- main content area -->
<div class="relative mx-auto flex w-full max-w-8xl flex-auto justify-center sm:px-3 md:px-4 md:pr-6">

  <!-- New container for sidebar + main content + footer -->
  <div class="flex w-full">

    {{- partial "sidebar.html" -}}

    <!-- right content + footer inside main -->
    <main class="min-w-0 flex-1 flex flex-col px-4 py-8 lg:pl-8 lg:pr-0 xl:px-12">
      
      <article class="mb-12 flex-1">
        <!-- Article and content go here -->
        <div class="
          prose max-w-none dark:prose-dark   
          prose-headings:font-semibold 
          prose-headings:text-slate-light-800 dark:prose-headings:text-light-dark-100
          prose-headings:scroll-mt-28 lg:prose-headings:scroll-mt-[8.5rem] lg:prose-headings:scroll-mb-[2.5rem]
          prose-lead:text-slate-light-600 prose-lead:font-display prose-lead:font-medium dark:prose-lead:text-slate-dark-100
          prose-pre:rounded-xl prose-pre:bg-slate-light-800 prose-pre:shadow-lg
          dark:prose-pre:bg-slate-dark-600 dark:prose-pre:shadow-none
          dark:prose-pre:ring-1 dark:prose-pre:ring-slate-dark-500
        ">
          <header class="mb-9 space-y-1">
            <!-- Check for Sub-Title -->
            {{ with .Page.Params.SubTitle }}
              <p class="font-medium text-blue-light-500 dark:text-blue-dark-400 mt-0 mb-4">{{ . }}</p>
            {{ end }}
            <h1 {{ if .Page.Title}}id="{{ .Page.Title }}"{{ end }}class="text-3xl tracking-tight mb-3">
              {{ .Title }}
            </h1>
            <!-- Check for Tagline -->
            {{ with .Page.Params.Tagline }}
              <p class="text-lg text-slate-light-600 dark:text-slate-dark-100 py-2">{{ . }}</p>
            {{ end }}
          </header>
          
          <!-- show page content -->
          {{- .Content -}}

        </div>
      </article>

      <!-- Optional pagination -->
      {{- if eq .Params.has_pagination true }}
        <div class="w-full space-y-10">
          {{- partial "pagination.html" . -}}
        </div>
      {{- end }}

      <!-- Footer at the end of main -->
      <div class="w-full space-y-10">
        {{- partial "footer.html" . -}}
      </div>

    </main>
    <!-- /right content -->

    <!-- Auto TOC -->
    {{- if eq .Params.has_toc true }}
      <div class="toc-container">
        {{- partial "toc.html" . -}}
      </div>
    {{- end }}

  </div>
  <!-- /New container -->

</div>
<!-- /main content area -->

{{ end }}