{{ $type := .Get "type" }}
{{ $icon := .Get "icon" }}
{{ $content := .Inner | markdownify }}

{{ $color := "slate" }} <!-- Default color -->
{{ if eq $type "primary" }} {{ $color = "blue" }} {{ end }}
{{ if eq $type "success" }} {{ $color = "green" }} {{ end }}
{{ if eq $type "warning" }} {{ $color = "orange" }} {{ end }}
{{ if eq $type "danger" }} {{ $color = "red" }} {{ end }}
{{ if eq $type "info" }} {{ $color = "violet" }} {{ end }}

<div class="
  not-prose alert
  my-6 flex items-center gap-2.5 rounded-xl px-4 py-3 leading-6
  text-{{ $color }}-light-600 dark:text-{{ $color }}-dark-200
  
  {{ if eq $color "slate" }}
  border border-slate-light-300
  {{ else }}
  border border-{{ $color }}-light-400
  {{ end }}
  bg-{{ $color }}-light-50

  dark:border-{{ $color }}-dark-500/30
  dark:bg-{{ $color }}-dark-500/10
">

  {{ if $icon }}
  <i class="{{ $icon }} mr-1"></i>
  {{ end }}

  <div class="alert-content [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
  
    {{ $content }}
  
  </div>
</div>