<!-- Card - Basic -->
<div class="mb-4 ">
  <div class="
    card-basic
    bg-white dark:bg-slate-dark-600
    border-none dark:border-none rounded-lg
    overflow-hidden shadow-lg dark:shadow-none shadow-slate-light-200
  ">
    <div class="p-6">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
