<div class="not-prose">
  <!-- codeblock -->
  <div class="relative group rounded-xl p-2 bg-syntax text-sm">
      {{ if .Get 1 }}
      <div class="
        flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4
        border-b border-slate-light-600 px-4 dark:border-zinc-800 dark:bg-transparent
      ">
        <h3 class="mr-auto pt-3 font-medium text-slate-light-300 dark:text-slate-light-400">
          {{ .Get 1}}
        </h3>
      </div>
      {{ end }}

      <div class="
        code-block-container
        px-2 py-4 leading-6 max-h-192
        overflow-auto overflow-y-hidden relative group
      ">
        {{ $highlighted := highlight (trim .Inner "\n") (.Get 0) }}
        {{ $highlighted | safeHTML }}
      </div>

    <!-- copy buton -->
    <button type="button" class="
      copy-button absolute right-4 top-3.5 overflow-hidden
      rounded-full py-1 pl-2 pr-3 text-xs font-medium
      opacity-0 backdrop-blur transition focus:opacity-100
      border border:slate-light-500 dark:border-slate-dark-400
      group-hover:opacity-100 bg-white-light/5 hover:bg-white-light/7.5
      dark:bg-blue-light-500/2.5 dark:hover:bg-blue-light-500/10
      ">
      <span aria-hidden="false" class="
        pointer-events-none flex items-center gap-0.5 text-slate-light-400 transition duration-300
        ">
        <svg viewBox="0 0 20 20" aria-hidden="true" class="
          h-5 w-5 fill-slate-light-500/20 stroke-slate-light-500
          transition-colors group-hover:stroke-slate-light-400
        ">
          <path stroke-width="0" d="M5.5 13.5v-5a2 2 0 0 1 2-2l.447-.894A2 2 0 0 1 9.737 4.5h.527a2 2 0 0 1 1.789 1.106l.447.894a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2Z"></path>
          <path fill="none" stroke-linejoin="round" d="M12.5 6.5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2m5 0-.447-.894a2 2 0 0 0-1.79-1.106h-.527a2 2 0 0 0-1.789 1.106L7.5 6.5m5 0-1 1h-3l-1-1"></path>
        </svg>
        Copy
      </span>
      <span aria-hidden="true" class="
        pointer-events-none absolute inset-0 flex items-center justify-center border rounded-full
        text-blue-light-400 bg-blue-light-400/10 border-blue-light-400 dark:border-blue-dark-500
        transition duration-300 translate-y-1.5 opacity-0
      ">
        Copied!</span>
    </button>
  <!-- /copy button -->
  
  <!-- show more code -->
    <div class="show-more-container flex justify-center shadow-negative-y">
      <button class="
        show-more-btn hidden my-3 p-2
        text-center
        border border-slate-light-600 rounded-full
        text-slate-light-400 hover:text-slate-light-300
        background-transparent hover:bg-slate-dark-100/10
        hover:text-blue-light-600 
        transition duration-300
      " type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m0 0l-8-8m8 8l8-8"></path>
        </svg>
      </button>
    </div>
  <!-- /show more code -->
  </div>
  <!-- /codeblock -->

</div>


